/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

/* App container */
.app {
  width: 100%;
  max-width: 420px;
  padding: 25px;
  border-radius: 20px;

  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.2);

  box-shadow: 0 10px 40px rgba(0,0,0,0.2);

  text-align: center;
  color: #fff;
}

/* Title */
h1 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* Search box */
.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #ddd;
}

/* Weather box */
#weatherBox {
  margin-top: 25px;
}

/* Weather card */
.weather-card {
  padding: 20px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);

  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

/* Icon */
.weather-card img {
  width: 90px;
}

/* Temp */
.temp {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

/* Description */
.desc {
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* Extra info */
.weather-card p {
  margin: 5px 0;
}

/* Error */
.error {
  color: #ffdddd;
  font-weight: bold;
}